@model project5_voting.Models.Admin

@{
    ViewBag.Title = "addAdmain";
    Layout = "~/Views/Shared/_LayoutPage1.cshtml";
}


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()



    <main class="container border p-5 mt-5 rounded shadow-sm bg-light" style="direction: rtl;">
        <h1 class="text-center mb-4">إضافة مسؤول جديد</h1>
        <div class="row justify-content-center">
            <div class="col-md-6">
                <form>
                    <div class="form-group mb-3">
                        <label for="adminName" class="form-label" style="text-align: right; display: block;">اسم المسؤول</label>
                        @Html.EditorFor(model => model.name, new { htmlAttributes = new { @class = "form-control ", @id = "adminName", @placeholder = "أدخل اسم المسؤول", style = "text-align: right;" } })
                    </div>
                    <div class="form-group mb-3">
                        <label for="adminEmail" class="form-label" style="text-align: right; display: block;">البريد الالكتروني</label>
                        @Html.EditorFor(model => model.email, new { htmlAttributes = new { @class = "form-control ", @id = "adminEmail", @placeholder = "أدخل البريد الإلكتروني ", style = "text-align: right;" } })
                    </div>
                    <div class="form-group mb-4">
                        <label for="adminPassword" class="form-label" style="text-align: right; display: block;">تعيين كلمة المرور</label>
                        @Html.EditorFor(model => model.password, new { htmlAttributes = new { @class = "form-control ", @id = "adminPassword", @placeholder = "أدخل كلمة المرور", style = "text-align: right;" } })
                    </div>
                    <div class="d-flex  align-items-center">
                        <input type="submit" value="إضافة مسؤول جديد" class="btn m-lg-1" style="color:white;  background-color:#004080" />
                        @Html.ActionLink("إظهار جميع المسؤولين", "showAdmin", null, new { @class = "btn text-decoration-none", style = "background-color:antiquewhite; color:black" })
                    </div>
                </form>
            </div>
        </div>
    </main>

    <!-- Custom CSS -->
    <style>
        main.container {
            max-width: 1000px;
            background-color: #f8f9fa;
        }



        .form-label {
            font-weight: bold;
        }

        .btn-group .btn {
            margin-right: 5px;
            transition: background-color 0.3s ease, transform 0.3s ease;
            background-color: #004080;
        }

            .btn-group .btn:hover {
                transform: scale(1.05);
            }


        .text-decoration-none {
            text-decoration: none;
        }
    </style>


}


