@model project5_voting.Models.PartyCandidate

@{
    ViewBag.Title = "تأكيد الحذف";
}

<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <div class="card border-danger">
                <div class="card-header bg-danger text-white text-center">
                    <h3>تأكيد حذف المرشح</h3>
                </div>
                <div class="card-body">
                    <p class="text-center text-danger mb-4">
                        هل أنت متأكد أنك تريد حذف هذا المرشح؟ هذا الإجراء لا يمكن التراجع عنه.
                    </p>
                    <div class="table-responsive">
                        <table class="table table-bordered">
                            <tbody>
                                <tr>
                                    <th scope="row">الايميل</th>
                                    <td>@Html.DisplayFor(model => model.email)</td>
                                </tr>
                                <tr>
                                    <th scope="row">الاسم</th>
                                    <td>@Html.DisplayFor(model => model.name)</td>
                                </tr>
                                <tr>
                                    <th scope="row">الرقم الوطني</th>
                                    <td>@Html.DisplayFor(model => model.nastionalID)</td>
                                </tr>
                                <tr>
                                    <th scope="row">نوع الجنس</th>
                                    <td>@Html.DisplayFor(model => model.gender)</td>
                                </tr>
                                <tr>
                                    <th scope="row">تاريخ الميلاد</th>
                                    <td>@Html.DisplayFor(model => model.birthday)</td>
                                </tr>
                                <tr>
                                    <th scope="row">نوع المقعد</th>
                                    <td>@Html.DisplayFor(model => model.typeOfChair)</td>
                                </tr>
                                <tr>
                                    <th scope="row">الديانة</th>
                                    <td>@Html.DisplayFor(model => model.religion)</td>
                                </tr>
                                <tr>
                                    <th scope="row">اسم الدائرة المحلية</th>
                                    <td>@Html.DisplayFor(model => model.electoralDistrict)</td>
                                </tr>
                                <tr>
                                    <th scope="row">اسم الحزب</th>
                                    <td>@Html.DisplayFor(model => model.PartyList.partyName)</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>

                    @using (Html.BeginForm())
                    {
                        @Html.AntiForgeryToken()
                        <div class="text-center mt-4">
                            <button type="submit" class="btn btn-danger btn-lg px-5">حذف</button>
                            @Html.ActionLink("العودة إلى القائمة", "Index", new { area = "" }, new { @class = "btn btn-secondary btn-lg px-5 ml-3" })
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</div>