@model IEnumerable<project5_voting.Models.Debate>

@{
    ViewBag.Title = "ShowDebates";
    Layout = "~/Views/Shared/_LayoutPage1.cshtml";
}

<div class="container mt-5" dir="rtl">
    <div class="card shadow-lg">
        <div class="card-body">
            <h2 class="card-title text-center mb-4">طلبات المناظرات</h2>
            <hr />
            <div class="table-responsive">
                <table class="table table-hover table-striped text-right">
                    <thead class="thead-dark">
                        <tr>
                            <th>رقم الطلب</th>
                            <th>الدائرة الانتخابية</th>
                            <th>المرشح الأول</th>
                            <th>المرشح الثاني</th>
                            <th>موضوع المناظرة</th>
                            <th>الحالة</th>
                            <th>الإجراءات</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>@Html.DisplayFor(modelItem => item.id)</td>
                                <td>@Html.DisplayFor(modelItem => item.electionArea)</td>
                                <td>@Html.DisplayFor(modelItem => item.firstCandidateName)</td>
                                <td>@Html.DisplayFor(modelItem => item.secondCandidateName)</td>
                                <td>@Html.DisplayFor(modelItem => item.debateSubject)</td>
                                @if (item.status == "1")
                                {
                                    <td class="text-warning">قيد الدراسة</td>
                                }
                                else if (item.status == "0")
                                {
                                    <td class="text-danger">مرفوض</td>
                                }
                                else
                                {
                                    <td class="text-success">مقبول</td>
                                }
                                <td>
                                    @Html.ActionLink("عرض", "Show", new { id = item.id }, new { @class = "btn btn-info btn-sm rounded-pill shadow-sm" })
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
